/* small device  */
@media screen and (max-width: 576px) {
    main>section, footer {
        margin-top: 40px;
    }
    .section_heading{
        font-size: 1.5rem;
    }
    .card_head,
    .quick h4 {
        font-size: 1.25rem;
    }
    .common_subtitle {
        font-size: 0.8rem;
    }
    .menubar ul{
        display: none;
    }
    .ham_burger{
        display: block;
        font-size: 20px;
    }
    .banner,
    .banner_image{
        margin-top: 30px;
    }
    .banner_image img {
        width: 238px;
    }
    .banner_container {
        width: auto;
    }
    .banner_heading {
        font-size: 2.8rem;
    }
    .banner,
    .quick_wrapper{
        display: block;
    }
    .banner_btn{
        display: flex;
    }
   .banner .btn_primary {
        padding: 16px 12px 16px 12px;
    }
    .banner .common_font{
        font-size: small;
    }
    .workout {
        width: 136px;
        padding: 15px 0px 15px 11px;
        margin-left: 132px;
        margin-top: -367px;
    }
    .workout_text {
        font-size: 1.25rem;
    }
    .tutorial {
        margin-left: -17px;
        margin-top: -249px;
    }
    .habit_container,
    .service_card,
    .team_container,
    .footer_wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .habit_container{
        gap: 40px;
    }
    .miles_content .run_container{
        padding: 0 25px;
    }
    .miles_content {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 30px;
    }
    .miles_content button{
        width: 100%;
    }
    .mile_image {
        width: 203px;
        height: 170px;
    }
    .row_1, .row_2{
        grid-template-columns: repeat(2, 1fr);
    }
    .img_3{
        display: none;
    }
    .common_desc{
        width: 81%;
        gap: 80px;
    }
    .service_card{
        gap: 80px;
        margin-top: 90px;
    }
    .service h2 {
        text-align: center;
    }
    .service_1{
        margin: 0 auto;
    }
    .calculator_wrapper {
        width: 80%;
        margin: 0 auto;
    }
    .calculator_content{
        display: block;
    }
    .common_font,
    .calculator h4 {
        font-size: 1rem;
    }
    .training_desc {
        margin-bottom: 23px;
    }
    .chart{
        margin-bottom: 60px;
    }
    form input, select{
        padding: 12px 28px;
        width: 56%;
    }
    select{
        width: 100%;
    }
    .team_1 {
        width: 225px;
    }
    .gym_trainer{
        display: none;
    }
    .gym_trainer5{
        grid-row: 2/3;
    }
    .overlay_text3 {
        left: 47px;
    }
    .f_logo h2 {
        font-size: 3rem;
    }
}
/* medium device  */
@media screen and (min-width:576px) and (max-width:992px) {
     .common_desc {
    width: 500px;
    }
    .menu{
        gap: 0;
    }
    .menu li a {
        padding: 8px 15px 8px 15px;
    }
     .banner{
        display: grid;
        justify-content: center;
        align-items: center;
     }
     .banner_image{
         justify-self: center;
     }
     .workout {
        margin-left: 196px;
        margin-top: -513px;
    }
    .tutorial {
        margin-left: -57px;
        margin-top: -234px;
    }
     .banner,
    .banner_image{
        margin-top: 60px;
    }
    .service_card,
     .habit_container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 80px;
    }
    .miles_content {
        gap: 0px;
    }
    .service h2 {
        text-align: center;
    }
    .team_1 {
        width: 180.67px;
        height: 255px;
    }
    .desc_wrapper {
    width: 256px;
    }
    .mile_image {
    width: 256px;
    height: 340px;
    }
.run_miles {
    padding: 30px 30px;
}
.overlay_text3 {
    top: 135px;
    left: 30px;
}
.calculator_content{
    display: block;
}
.chart{
    margin-bottom: 60px;
}
.footer_wrapper {
    grid-template-columns: repeat(1, 1fr);
}
.quick_wrapper {
    justify-content: start;
    gap: 200px;
}
footer .desc_wrapper{
    width: 434px;
}
}
/* large device  */
@media screen and (min-width:992px) and (max-width:1200px){
    .common_desc {
        width: 500px;
        }
        .menu{
            gap: 0;
        }
        .menu li a {
            padding: 8px 15px 8px 15px;
        }
         .banner{
            display: grid;
            justify-content: center;
            align-items: center;
         }
         .banner_image{
             justify-self: center;
         }
         .workout {
            margin-left: 196px;
            margin-top: -513px;
        }
        .tutorial {
            margin-left: -57px;
            margin-top: -234px;
        }
         .banner,
        .banner_image{
            margin-top: 60px;
        }
        .service_card,
         .habit_container {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 80px;
        }
        .miles_content {
            gap: 0px;
        }
        .team_1 {
            width: 242.67px;
            height: 255px;
        }
        .desc_wrapper {
        width: 256px;
        }
        .mile_image {
        width: 256px;
        height: 340px;
        }
    .run_miles {
        padding: 30px 30px;
    }
    .overlay_text3 {
        top: 135px;
        left: 30px;
    }
    .calculator_content{
        display: block;
    }
    .chart{
        margin-bottom: 60px;
    }
    .footer_wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .quick_wrapper {
        justify-content: start;
        gap: 200px;
    }
    footer .desc_wrapper{
        width: 434px;
    }
}